<!--Aqui van los detalles que pone el cliente-->
{{#if valueCookie}}

<div>
    <form action="/add-project" method="POST">
    <section id="terrainDetails">
    <div>
        <label for="totalSquareMeters">Metros cuadrados</label>
        <input type="number" name="totalSquareMeters" id="totalSquareMeters">
    </div>

    <div>
        <label for="address">Dirección</label>
        <input type="text" name="address" id="address" placeholder="Dirección del lugar">
    </div>

    

    <div>
        <label for="limitatiosLaws">Información de limitaciones (opcional)</label>
        <input type="textarea" name="limitatiosLaws" id="limitatiosLaws" placeholder="Agrega información sobre las limitaciones de construcción">
    </div>

    <!--<div>
        <label for="terrainImages">Imagenes del terreno</label>
        <input type="file" name="terrainImages" id="terrainImages">
    </div>-->
    </section>

    <section id="conceptDetails">

    <div>
        <label for="pinterstAPI">Pinterest concept board</label>
        <input type="text" name="pinterstAPI" id="pinterstAPI" placeholder="Agrega el link de tu tablero de Pinterest">
    </div>

    <div>
        <label for="specificRequest">Detalles importantes</label>
        <input type="textarea" name="specificRequest" id="specificRequest" placeholder="Agrega detalles importantes para tu diseño, cantidad de habitaciones, baños, materiales, etc.">
    </div>

        <div>
        <input style='display:none' value='{{valueCookie._id}}' type="text" name="clientId" id="clientId">
    </div>

        <p>Select you option</p>
        
    {{#each availableArchitects}}
            <div>
                <input type="radio" value="{{this._id}}" name='selectArchitect'>
                <p></p>
                <p>{{this.commercialName}}</p>
                <img src="{{this.logoImg}}" alt="">
                <a href="{{this.instagram}}"><img src="" alt="IG"></a>
            </div>
    {{/each}}


    </section>
      <button type="submit">Crear Proyecto</button>
    </form>
</div>

{{/if}}