<h1>Welcome Client</h1>


<a href="/add-project">Iniciar un proyecto</a>

{{#if valueCookie}}

  {{#each projectsId.projects}}
  <div id='actualProjects'style="border: solid;">
      <div > 
    <p>{{this.projectName}}</p>
    </div>  
     <div> 
    <p>{{this.address}}</p>
    </div>
     <div>
      <img src="{{renderImg}}" alt="" width="500px">
     {{#each this.architects}}
     <br>
     <p>Despacho contratado: 
    <p>{{commercialName}}</p>
    <img src="{{logoImg}}" alt="" width="100px"></p>
     {{/each}}
    </div>
    
   <div>
      <a href="/project/{{this._id}}/details">Details</a>
    </div>
    <div>
      <a href="/project/{{this.id}}/edit">Edit</a>
    </div>
        </div>
        
     {{/each}}



  </div>
 

{{/if}}