<!--datealles por proyect-->

<div>
  <p>{{viewPRoject.projectName}}</p>
  <p>{{viewPRoject.address}}</p>
  <p><img src="{{viewPRoject.terrainImages}}" alt="" width="100" height="100"></p>
  <p>{{viewPRoject.totalSquareMeters}}</p>
  <p>{{viewPRoject.pinterstAPI}}</p>
  <p><img src="{{viewPRoject.renderImg}}" alt="" width="100" height="100"></p>
<p><a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="{{viewPRoject.pinterstAPI}}"></a>
</p>
</div>

 <div>
      <a href="/project/{{viewPRoject.id}}/edit">Edit</a>
    </div>
    

