
{{#if valueCookie}}
<hr class="mx-4">
<div class="mx-4">
<h2 >Edición de proyecto</h2>
<br>
    <div >
        <form action="/project/{{idEdit}}/edit" method="POST" enctype="multipart/form-data">
            <p style="font-weight: bold;font-size:22px ">Información General</p> 
            <div class="ml-10 mr-10">
                <div class="form-group col pb-1">
                        <label for="projectName" class='pt-1'>Nombre del proyecto</label>
                        <input type="text" class='form-control pb-1' value='{{viewProject.projectName}}' name="projectName" id="projectName" >
                        <label for="totalSquareMeters" class='pt-1'>Metros cuadrados</label>
                        <input type="number" class='form-control pb-1' value='{{viewPRoject.totalSquareMeters}}' name="totalSquareMeters" id="totalSquareMeters">
                        <label for="address" class='pt-1'>Dirección</label>
                        <input type="text" class='form-control pb-1' name="address" value="{{viewPRoject.address}}" id="address" placeholder="Dirección del lugar">
                        <label for="limitatiosLaws" class='pt-1'>Información de limitaciones (opcional)</label>
                        <input type="text" class='form-control pb-1' value='{{viewProject.limitatiosLaws}}' name="limitatiosLaws" id="limitatiosLaws" placeholder="Agrega información sobre las limitaciones de construcción">
                        <label for="terrainImages" class='pt-1'>Imagenes del terreno</label>
                        <input type="file" class='form-control pb-1' name="terrainImages" value="{{viewProject.terrainImages}}" id="terrainImages">                
                </div>  
            </div>  
            <p style="font-weight: bold;font-size:22px ">Detalles y concepto</p> 
            <div class="form-group col">
                <label for="pinterstAPI" class='pt-1'>Agrega el link de tu board conceptual de Pinterest</label>
                <img src="./images/pinterest.png" value='{{viewProject.pinterstAPI}}' alt="" width="20"><input class='form-control' type="text" name="pinterstAPI" id="pinterstAPI" placeholder="Agrega el link de tu tablero de Pinterest">
                <label for="specificRequest" class='pt-1'>Detalles importantes</label>
                <input type="text" class='form-control' value='{{viewProject.specificRequest}}'  name="specificRequest" id="specificRequest" placeholder="Agrega detalles importantes para tu diseño, cantidad de habitaciones, baños, materiales, etc.">
            </div>
            <div class=" d-flex align-content-center justify-content-center">
                <button type="submit" class="btn-lg m-1 btn-outline-success">Guardar cambios</button>
            </div>
        </form>
    </div>
</div>
{{/if}}
